.address {
  h1 {
    @include fontStyle(Noto Sans TC, 24px, 700, 24px);
    margin-bottom: 24px;
  }
  .basic-info {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 30px;
    div {
      display: flex;
      flex-direction: column;
      @include fontStyle(Noto Sans TC, 12px, 400, 16px);
      label {
        color: $dark-gray;
        font-weight: 700;
        margin-bottom: 8px;
      }
      select {
        padding: 12px 93px 12px 16px;
        border: 1px solid #4a4a4a;
        border-radius: 4px;
        background: $white;
        color: $black;
        -webkit-appearance: none;
        background: transparent;
      }
      input {
        padding: 12px 0px 12px 16px;
        border: 1px solid #4a4a4a;
        border-radius: 4px;
      }
    }
    .gender {
      position: relative;
      flex-basis: 33%;
      label::after {
        position: absolute;
        top: 65%;
        right: 5%;
        z-index: -1;
        // 手工三角形
        border-width: 5px 4.5px 0 4.5px;
        border-style: solid;
        border-color: $black transparent transparent transparent;
        content: "";
      }
    }
    .name,
    .tel,
    .email,
    .address {
      flex: 1;
    }
    .city {
      flex-basis: 33%;
      select {
        color: $dark-gray;
      }
    }
  }
}
.none {
  display: none;
}
