.stepper {
  h1 {
    @include fontStyle(Noto Sans TC, 32px, 700, 38px);
  }
  .wraps {
    display: flex;
    margin: 48px 0 64px 0;
    gap: 32px;
    .step {
      display: flex;
      align-items: center;
      color: $gray;
      &__circle {
        display: grid;
        place-items: center;
        width: 24px;
        height: 24px;
        border-radius: 23px;
        border: 1px solid $gray;
        @include fontStyle(Nunito Sans, 12px, 700, null);
      }
      &__title {
        margin-left: 8px;
        margin-right: 32px;
        @include fontStyle(Noto Sans TC, 16px, 400, 24px);
      }
      &__line {
        width: 60px;
      }
    }
    .step:nth-of-type(1) {
      .step__circle {
        background: $black;
        border-color: $black;
        color: $white;
      }
      .step__title {
        color: $black;
      }
      .step__line {
        background: $black;
      }
    }
  }
}

.page-one {
  @include getNums(3);
  .step:nth-of-type(3) {
    .step__line {
      display: none;
    }
  }
}

.page-two {
  @include getNums(3);
  .step:nth-of-type(1) {
    .step__circle::after {
      content: "✓";
    }
  }
  .step:nth-of-type(2) {
    .step__circle {
      border-color: $black;
      color: $black;
    }
    .step__title {
      color: $black;
    }
    .step__line {
      border-color: $black;
    }
  }
  .step:nth-of-type(3) {
    .step__line {
      display: none;
    }
  }
}

.page-three {
  .step:nth-of-type(1) {
    .step__circle::after {
      content: "✓";
    }
  }
  .step:nth-of-type(2) {
    .step__circle {
      border-color: $black;
      background: $black;
      color: $white;
      &::after {
        content: "✓";
      }
    }
    .step__title {
      color: $black;
    }
    .step__line {
      border-color: $black;
    }
  }
  .step:nth-of-type(3) {
    .step__circle {
      border-color: $black;
      color: $black;
      &::after {
        content: "3";
      }
    }
    .step__title {
      color: $black;
    }
    .step__line {
      display: none;
    }
  }
}
